<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OpenDBServlet</servlet-name>
        <servlet-class>Servlets.OpenDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <servlet-class>Servlets.CheckUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPersonToDB</servlet-name>
        <servlet-class>Servlets.addPersonToDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginGuestServlet</servlet-name>
        <servlet-class>Servlets.loginGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRoomServlet</servlet-name>
        <servlet-class>Servlets.addRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRoomsServlet</servlet-name>
        <servlet-class>Servlets.getRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkDateForReservationServlet</servlet-name>
        <servlet-class>Servlets.checkDateForReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addReservationServlet</servlet-name>
        <servlet-class>Servlets.addReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAdminServlet</servlet-name>
        <servlet-class>Servlets.addAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdminServlet</servlet-name>
        <servlet-class>Servlets.loginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getReservationsServlet</servlet-name>
        <servlet-class>Servlets.getReservationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmReservationServlet</servlet-name>
        <servlet-class>Servlets.confirmReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenDBServlet</servlet-name>
        <url-pattern>/OpenDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <url-pattern>/CheckUsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPersonToDB</servlet-name>
        <url-pattern>/addPersonToDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginGuestServlet</servlet-name>
        <url-pattern>/loginGuestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRoomServlet</servlet-name>
        <url-pattern>/addRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRoomsServlet</servlet-name>
        <url-pattern>/getRoomsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkDateForReservationServlet</servlet-name>
        <url-pattern>/checkDateForReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addReservationServlet</servlet-name>
        <url-pattern>/addReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAdminServlet</servlet-name>
        <url-pattern>/addAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdminServlet</servlet-name>
        <url-pattern>/loginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getReservationsServlet</servlet-name>
        <url-pattern>/getReservationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmReservationServlet</servlet-name>
        <url-pattern>/confirmReservationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
